name: "test"

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

jobs:
  test-linux:
    name: "Linux podman"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        jdkconf:
          - JDK 11
          - JDK 17
          - JDK 21
          - JDK 25
        include:
          - jdkconf: JDK 11
            jdkver: "11"
          - jdkconf: JDK 17
            jdkver: "17"
          - jdkconf: JDK 21
            jdkver: "21"
          - jdkconf: JDK 25
            jdkver: "25"
    steps:
      - uses: gacts/install-podman@v1
      - run: podman version
      - uses: actions/checkout@v3
      - run: git submodule update --init --recursive
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdkver}}
      - name: copy jdk
        run: cp -r   "${JAVA_HOME}" jdkCopy
      - name: Run
        run: WORKSPACE=`pwd` SCRATCH_DISK=`pwd` bash runner/run_jlink_tests.sh  `pwd`/jdkCopy
      - name: cat results
        run: cat "results/results.txt"
      - name: cat summary
        run: cat "results/results.properties"
      - name: assert something passed
        run: cat "results/results.properties" | grep -e 'rhqa.passed=[1-9]'
      - name: assert nothing failed
        run: cat "results/results.properties" | grep -e 'rhqa.failed=0'
      - name: Upload results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: jlinktests-linux-podman-jdk-${{ matrix.jdkver}}
          path: "results/jlinktests.tar.gz"


  test-linux-jmodless:
    name: "Linux podman jmodless"
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        jdkconf:
          - JDK 25
        include:
          - jdkconf: JDK 25
            jdkver: "25"
    steps:
      - uses: gacts/install-podman@v1
      - run: podman version
      - uses: actions/checkout@v3
      - run: git submodule update --init --recursive
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdkver}}
      - name: copy jdk
        run: cp -r   "${JAVA_HOME}" jdkCopy
      - name: ensure jdk do NOT have jmods
        run: if [ ! -e `pwd`/jdkCopy/jmods ] ; then echo "no jmods to remove, continuing" ; else rm -rv jdkCopy/jmods ; fi
      - name: Run
        run: WORKSPACE=`pwd` SCRATCH_DISK=`pwd` bash runner/run_jlink_tests.sh  `pwd`/jdkCopy
      - name: cat results
        run: cat "results/results.txt"
      - name: cat summary
        run: cat "results/results.properties"
      - name: assert something passed
        run: cat "results/results.properties" | grep -e 'rhqa.passed=[1-9]'
      - name: assert nothing failed
        run: cat "results/results.properties" | grep -e 'rhqa.failed=0'
      - name: Upload results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: jlinktests-linux-podman-jmodless-jdk-${{ matrix.jdkver}}
          path: "results/jlinktests.tar.gz"
